{% extends 'accounts/base.html' %}
{% block page_contents %}
{% load static %}

<div class="row">
    <div class="col-md-6 m-1 mx-auto p-3 shadow rounded">
        <div class="page-header">
            <div class="text-left">
                <h4><i class="fa fa-sign-in" aria-hidden="true"></i> KisanMitra Login</h4>
            </div>
        </div>

        <form class="site-form text-center" action="{% url 'accounts:login' %}" method="post">
            <img class="my-3 mx-auto" src="https://play-lh.googleusercontent.com/-iEJseYMZUMqefBP-uY_Ovznb-h4wOU5y1rO_9JfTzMEBg51IXkBl2WLgrssk8HgYQ=w600-h300-pc0xffffff-pd" alt="logo" width="220" height="100">
            <div class="col-md-4 mx-auto">
                {% csrf_token %}
                {{form}}
                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
                {% endif %}
                <br>
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
        </form>
        <div class="text-center">
            <a href="{% url 'home' %}" class="text-primary-sm">Back</a>
        </div>

        <footer class="pt-2 mx-auto text-center">
            <small><span class="text-muted">Licensed to SPIT | <a href="https://resumehub.spit.ac.in">KisanMitra</a> {% now "Y" %}</a>.
                </span>
            </small>
        </footer>
    </div>
</div>

{% endblock %}